<template>
    <div>
        <transition>
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
    
</script>

<style>
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
    opacity: 0;
}
</style>

<script>
export default {};
</script>
